body {
  font-size: 18px;
}

button {
  background-color: #2185d0;
  color: white;
  border-radius: 15px;
  width: 100px;
  height: 35px;
}

#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display:flex;
  align-items: center;
}